# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Claude Code temp directories
tmpclaude-*-cwd
tmpclaude-*/

# Claude configuration
.claude/
CLAUDE.md

# Build artifacts
*.apk
*.idsig
*.keystore
mpv.exe

# Downloaded/temporary files
*.crdownload
*.csv
*.pdf
*.xlsx

# Python
*.py
.venv/
__pycache__/

# Android generated (except what's needed)
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/local.properties
!src-tauri/gen/android/app/src/main/assets/
!src-tauri/gen/android/app/src/main/java/dev/fredol/open_tv/VideoPlayer.kt

# Rust build artifacts in Android
src-tauri/gen/android/app/src/main/jniLibs/
